// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {

}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

  @include hover {

  }
  &.btn {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    min-width: 210px;
    font-size: .9rem;
    letter-spacing: 1.8px;
  }
  &.btn-outline {
    background-color: white;
    border: 1px solid $gray-600;
    color: $blue;
    &:hover, &:focus {
      color: white;
      background-color: $blue;
      border-color: $blue;
    }
  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {
  max-width: 100%;
}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}
