* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import Roboto and EB Garamond 
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined');

// Import Material Icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../material-icons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../material-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(../material-icons/MaterialIcons-Regular.woff) format('woff'),
    url(../material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  display: inline-block;
  line-height: 2;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.outlined {
    font-family: 'Material Icons Outlined';
  }

  &.pseudo-before {
    line-height: 1;
    position: absolute;
    margin-left: -23px;
    margin-top: 3px;
    font-size: 1.3rem;
  }
}

h1 {
  color: $black;
}

.sidebar-heading {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  color: $blue;

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: $gray-600;
    position: relative;
    bottom: -7px;
  }
}

.body-link {
  font-weight: 500;
  box-shadow: inset 0 -1px #fff,inset 0 -3px $gray-600;
  border: 0;
  padding-bottom: 1px;
  transition: background 0.15s cubic-bezier(0.33,0.66,0.66,1);
  &:hover, &:focus {
    text-decoration: none;
    color: $blue;
    background-color: rgba($gray-600, .3);
    box-shadow: inset 0 -1px #dfecfa,inset 0 -3px $gray-600,0 0 1px rgba(0,0,0,.1);
  }
}
.sidebar-listing-link {
  @extend .meta-data;
  @extend .body-link;
} 

.page_basic, .page_landing, .page_landing_alt {
  div[class$="__body"]  a {
    @extend .body-link;
    .external {
      &:after {
        @extend .material-icons;
        @extend .outlined;
        content: "open_in_new";
        border: 0;
        line-height: 0;
        margin-left: 2px;
        font-size: .85rem;
        position: relative;
        top: 2px;
    }
    }
}
}





.sidebar-footer-link {
  @extend .btn;
  @extend .btn-outline;
}

p {
  letter-spacing: .15px;
}
#main-content {
  a {
   // text-decoration: underline;
  }
}
a.teaser-title, .teaser-title a {
  font-size: 2.2rem;
  //text-decoration: none!important;
}

.badge {
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.1;
  padding: 0.3em 0.5em .2em .5em;
  letter-spacing: .1px;
}

.meta-data {
  font-size: .875rem;
  font-weight: 500;
}
