// Page: Footer
// -----------------------------------------------------------------------------
.page__footer {
  background-color: $blue;
  background: $blue url('../imgs/footer-bg.png') no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: white;

  a {
    color: white;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 1px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 0;
  }

  .footer-left {
    @include make-xs-column(12);
    @include make-lg-column(6);

    .block--socialmedialinks {
      @extend .mt-3;
      margin-left: -20px;
      a {
        display: inline-block;
        height: 40px;
        width: 40px;

        .fa {
          font-size: 1.3rem;
          transition: all .3s ease;
          position: relative;
          top: 9px;
          left: 1px;
        }
        transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);

        &:hover,
        &:focus {
          background-color: rgba(153, 165, 189, 0.3);
        }
      }
    }

    p {
      margin-bottom: 0;
      line-height: 2;
    }

    img {
      max-width: 250px;
      @extend .mb-4;
    }
  }

  .footer-right {
    @include make-xs-column(12);
    @include make-lg-column(6);
    h2 {
      @extend .sidebar-heading;
      padding-left: 1rem;
      color: white;
    }
    a {
      transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: rgba(153, 165, 189, 0.3);
      }
    }
  }


  .nav {
    flex-direction: column;
    display: inline-flex;
  }

  .footer-bottom {
    @include make-col(12);
    @extend .mt-3;

    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      flex-wrap: wrap;
      margin-left: 0;
      padding-left: 1rem;

      li {
        margin: 0 1rem;
        position: relative;

        &:first-of-type {
          margin-left: 0;
        }

        &:after {
          content: '';
          display: block;
          right: -20px;
          top: 3px;
          height: 20px;
          width: 1px;
          background: #FFF;
          opacity: .2;
          position: absolute;
        }

        &:last-of-type {
          &:after {
            display: none;
          }
        }

        a {
          font-size: .8rem;
          box-shadow: none;
          padding-bottom: 0;

          &:hover,
          &:focus {
            box-shadow: none;
            color: white;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .footer-left {
      text-align: center;
      margin-bottom: 1rem;
      .block--socialmedialinks {
        margin-left: 0;
      }
    }

    .footer-right {
      text-align: center;
      margin-bottom: 1rem;
      h2 {
        padding-left: 0;
        margin-bottom: .8rem;
        &:after {
          margin: 0 auto;
        }
      }
    }
    .footer-bottom {
      ul {
        flex-direction: column;
        padding-left: 0;
        li {
          &:first-of-type {
            margin-left: 1rem;
          }
          text-align: center;
          padding-bottom: .5rem;
        }
      }
    }
  }
}
