// Listing Pages (ie News, Events)
// -----------------------------------------------------------------------------

.node--type-listing-page {
    &.node--view-mode-full {
        > .bs-region--top {
            padding: 0 15px;
        }
        > .bs-region--main {
            padding: 0 15px;
            width: 100%;
        }
        .views-element-container {
            @include make-row();
            .sidebar-filter {
                @include make-lg-column(3);
                @extend .mb-5;
                .sidebar-left-wrapper {
                    form {
                        label {
                            @extend .sidebar-heading;
                        }
                        input.button {
                            @extend a;
                            @extend .btn;
                            @extend .btn-outline;
                            color: $blue!important;
                            &:hover, &:focus {
                                color: white!important;
                            }
                        }
                    }
                }
            }
            .views-view-grid {
                @include make-lg-column(9);
                
                @include media-breakpoint-up(lg) {
                    padding: 0 30px;
                }
                .views-row {
                    border-bottom: 1px solid $gray-300;
                    .views-col {
                        padding: 0;
                    }
                    &:first-of-type {
                        .node--view-mode-teaser {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
        .listing-page__field-featured-content {
            .bs-region--left {
                @include make-col-offset(1);
                @include media-breakpoint-down(lg) {
                    margin-left: 0;
                }
            }
        }
        .adminimal-admin-toolbar & {
            > .bs-region--top {
                margin-top: 0;
            }
        }
    }
    .has-featured & {
        > .bs-region--top {
            width: 100%;
            margin: -4rem 0 3rem 0;
            .listing-page__field-featured-content {
                background-color: $gray-500;
                border-bottom: 0px solid $gray-300;
                padding: 2rem 0 .3rem 0;
                .featured-flag {
                    @extend .badge;
                    @extend .badge-secondary;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}