// Page
// -----------------------------------------------------------------------------
.node--view-mode-teaser {

  .event__type,
  .article__field-news-type {
    @extend .badge;
    @extend .badge-secondary;
    margin-bottom: .5rem;
  }

  [class*="-title"] {
    @extend .teaser-title;
    text-decoration: none;
  }

  &.node--type-event {

    .event__field-start-date,
    .event__field-end-date,
    .event__time {
      display: inline-block;
      @extend .meta-data;

    }

    .event__field-end-date {
      &:before {
        content: 'thru ';
        //font-size: .875rem;
      }
    }

    .event__field-start-date {
      margin-left: 23px;

      &:before {
        @extend .material-icons;
        @extend .outlined;
        @extend .pseudo-before;
        content: "calendar_today";
        color: $gray-900;
        font-size: 1rem;
        margin-top: 2px;
        margin-left: -20px;
      }
    }

    .event__time {
      margin-left: 40px;

      &:before {
        @extend .material-icons;
        @extend .outlined;
        @extend .pseudo-before;
        content: "schedule";
        color: $gray-900;
        font-size: 1rem;
        margin-left: -20px;
      }
    }

    .event__field-location {
      margin-left: 23px;
      @extend .meta-data;
      @extend .mb-2;

      &:before {
        @extend .material-icons;
        @extend .outlined;
        @extend .pseudo-before;
        content: "room_outline";
        color: $gray-900;
        margin-top: 2px;
        //font-size: 1rem;
      }
    }
  }

  &.node--type-article {
    .article__body {
      @extend .mt-1;
    }

    .sidebar__author,
    .sidebar__date {
      @extend .meta-data;
      display: inline-block;
      margin-right: 15px;
    }

    .sidebar__author {
      margin-left: 21px;

      &:before {
        @extend .material-icons;
        @extend .outlined;
        @extend .pseudo-before;
        content: "create";
        color: $gray-900;
        font-size: 1.09rem;
        margin-left: -21px;
        margin-top: 2px;
      }
    }

    .sidebar__date {
      margin-left: 23px;

      &:before {
        @extend .material-icons;
        @extend .outlined;
        @extend .pseudo-before;
        content: "calendar_today";
        color: $gray-900;
        font-size: 1rem;
        margin-top: 2px;
        margin-left: -20px;
      }
    }
  }
}

.node--view-mode-full {
  &.node--type-event {

    // Fields
    .event__field-location {
      margin-left: 23px;
      @extend .mb-2;
      @extend .meta-data;

      &:before {
        @extend .material-icons;
        @extend .outlined;
        @extend .pseudo-before;
        content: "room_outline";
        color: $gray-900;
        margin-top: 2px;
      }
    }

    .event__field-start-date {
      margin-left: 23px;
      @extend .meta-data;

      &:before {
        @extend .material-icons;
        @extend .outlined;
        @extend .pseudo-before;
        content: "calendar_today";
        color: $gray-900;
        font-size: 1.1rem;
      }

      &+.event__field-end-date {
        @extend .meta-data;
        margin-left: 23px;
        margin-bottom: .55rem;

        &:before {
          content: 'thru ';
        }
      }
    }

    .event__time {
      margin-left: 23px;
      margin-bottom: .55rem;
      @extend .meta-data;

      &:before {
        @extend .material-icons;
        @extend .outlined;
        @extend .pseudo-before;
        content: "schedule";
        color: $gray-900;
        font-size: 1.2rem;
        margin-top: 1px;
      }
    }

    .event__field-registration-link {
      @extend .mt-3;

      a {
        @extend .btn;
        @extend .btn-outline;
      }
    }
  }

  &.node--type-article {
    .sidebar__author {
        margin-left: 21px;
        @extend .meta-data;
        &:before {
          @extend .material-icons;
          @extend .outlined;
          @extend .pseudo-before;
          content: "create";
          color: $gray-900;
          font-size: 1.09rem;
          margin-left: -21px;
          margin-top: 2px;
        }
      }
    
      .sidebar__date {
        margin-left: 23px;
        @extend .meta-data;
        &:before {
          @extend .material-icons;
          @extend .outlined;
          @extend .pseudo-before;
          content: "calendar_today";
          color: $gray-900;
          font-size: 1rem;
          margin-top: 2px;
          margin-left: -20px;
        }
      }
  }
}

.node--type-person {
  .person__field-headshot {
    @extend .mb-3;

    img {
      border-radius: 100%;
    }
  }
}

.node--view-mode-featured {

  >.bs-region--left,
  >.bs-region--left {
    margin-bottom: 0rem !important;
  }

  [class*="-title"] a {
    text-decoration: none!important;
  }

  .sidebar__author,
  .sidebar__date {
    @extend .meta-data;
    display: inline-block;
    margin-right: 15px;
  }

  .article__body {
    @extend .mt-1;
  }

  .sidebar__author {
    margin-left: 21px;
    @extend .meta-data;
    &:before {
      @extend .material-icons;
      @extend .outlined;
      @extend .pseudo-before;
      content: "create";
      color: $gray-900;
      font-size: 1.09rem;
      margin-left: -21px;
      margin-top: 2px;
    }
  }

  .sidebar__date {
    margin-left: 23px;
    @extend .meta-data;
    &:before {
      @extend .material-icons;
      @extend .outlined;
      @extend .pseudo-before;
      content: "calendar_today";
      color: $gray-900;
      font-size: 1rem;
      margin-top: 2px;
      margin-left: -20px;
    }
  }

  .event__field-start-date {
    width: 200px;
    height: 200px;
    background-color: $red;
    border-radius: .25rem;
    color: white;
    float: right;
    @include media-breakpoint-down(lg) {
        float: none;
        margin-bottom: 2rem;
    }
    .featured-date-wrap {
      display: block;
      text-align: center;
      line-height: 1;
      text-transform: uppercase;
      padding-top: 23px;
        
      span {
        width: 200px;
        display: block;
      }

      span:first-of-type {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 5px;
      }

      span:nth-of-type(2) {
        font-weight: 700;
        font-size: 2.5rem;
      }

      span:last-of-type {
        font-weight: 400;
        font-size: 2.1rem;
      }
    }
  }

  .event__field-end-date {
    @extend .meta-data;
    &:before {
      content: 'thru ';
      @extend .meta-data;
    }
  }

  .event__time {
    margin-left: 23px;
    @extend .meta-data;
    &:before {
      @extend .material-icons;
      @extend .outlined;
      @extend .pseudo-before;
      content: "schedule";
      color: $gray-900;
      font-size: 1.2rem;

    }
  }

  .event__field-location {
    margin-left: 23px;
    @extend .mb-2;
    @extend .meta-data;
    &:before {
      @extend .material-icons;
      @extend .outlined;
      @extend .pseudo-before;
      content: "room_outline";
      color: $gray-900;
      margin-top: 2px;
    }
  }

}
