// Sidebars

.sidebar-left-wrapper {
  font-size: .95rem;
  color: $gray-900;

  .node--type-page & {
    .block {
      background-color: $gray-500;
      letter-spacing: .35px;
      border-top: 4px solid $blue;

      .nav-item>a {
        font-size: 1.1rem;
        font-weight: 500;
        padding: 1.1rem 1rem 1rem 1rem;
      }

      a {
        border-bottom: 1px solid $gray-300;
        width: 100%;
        display: block;
        line-height: 1;
        padding: 1rem 1rem 1rem 2rem;
        transition: all .2s ease;
        text-decoration: none;

        &:hover,
        &:focus {
          background-color: $faint-blue;
          border-bottom-color: $gray-400;
          color: $blue;
          text-decoration: none;
        }

        &.active,
        &.is-active {
          background-color: $dust-blue;
          border-bottom-color: $gray-400;
          font-weight: 500;
          pointer-events: none;
        }
      }
    }
    
  }

  .sidebar-menu {

    list-style-type: none;
    padding-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;

    li {
      margin-bottom: 0;

      a {
       // @extend .sidebar-listing-link;
      }

      &:last-of-type {
        //margin-bottom: 0;
      }
    }
  }
  .person__field-position {
    font-weight: 500;
  }
  .person__field-department {
    font-size: .9rem;
    line-height: 1.4;
  }
  .social-media-links--platforms {
    @extend .mt-2;
    margin-left: -.3rem;
    li {
      padding: 0;
      a {
        font-size: .6rem;
        padding: .6rem;
        transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
        .fa {
          position: relative;
          top: 4px;
        }
        &:hover, &:focus {
          background-color: rgba(153, 165, 189, 0.3);
          color: $blue;
        }
      }
    }
    
  }
}


.bs-region--right {
  color: $gray-900;

  time {
    font-size: .85rem;
  }

  .views-row {
    line-height: 1.2;
    margin-bottom: .55rem;
  }

  .sidebar-footer {
    margin-top: 1.5rem;
  }
  
  .event__field-sidebar, .article__field-sidebar {
    a:not(.sidebar-footer-link) {
      @extend .sidebar-listing-link;
    }
  }
}

// Alerts
.bs-site-alert {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;

  a {
    text-decoration: underline;
    ;
  }

  p {
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  &.alert-danger,
  &.alert-secondary {
    .close {
      color: white;
    }

    background-color: $red;
    color: white;

    a {
      color: white;
    }
  }

  &.alert-primary {
    .close {
      color: white;
    }

    background-color: $blue;
    color: white;

    a {
      color: white;
    }
  }
}